<body id='your-tasks-container'>
   <main id='your-tasks-container'>
      <h2 id='your-tasks-title'>Your Tasks</h2>
      <% @tasks.each_with_index do |task, i|%>
      <ul>
         <% if task.completed_at != nil %>
         <div class='mark-complete'>
            <li>
               <%= "#{i + 1}. #{task.name}" %>
            </li>
         </div>
         <% else %>
         <div class='unmark-complete'>
            <li>
               <%= "#{i + 1}. #{task.name}" %>
            </li>
         </div>
         <% end %>
         <li>
            <%= "Description: #{task.description}" %>
         </li>
         <li>
            <%= "Goal Completion Date: #{task.completion_date}" %>
         </li>
         <li>
            <%= "Completed at: #{task.completed_at}" %>
         </li>
      </ul>
      <ul class="mark-edit-delete">
         <% if task.completed_at != nil %>
         <div >
            <li>
               <%= link_to "Umark Complete | ", complete_task_path(task.id), method: :patch %>
            </li>
         </div>
         <% else %>
         <div >
            <li>
               <%= link_to "Mark complete | ", complete_task_path(task.id), method: :patch %>
            </li>
         </div>
         <% end %>
         <li>
            <%= link_to "Edit | ", edit_task_path(task.id) %>
         </li>
         <li>
            <%= link_to "Delete | ", task_path(task.id), method: :delete,  data: { confirm: 'Are you sure?' } %>
         </li>
      </ul>
      <% end %>
   </main>
</body>
