

<body>
  <main class='container'>


    <section>

      <h2>Your Tasks</h2>
      <% @tasks.each_with_index do |task, i|%>
      <ul>
        <li>
          <%= "#{i + 1}. #{task.name}" %>
        </li>
        <li>
          <%= "#{task.description}" %>
        </li>
        <li>
          <%= "#{task.completion_date}" %>
        </li>
      </ul>
      <ul class="mark-edit-delete">
        <li>
          <%= link_to "Mark Complete | ", task_path(task.id) %>
        </li>
        <li>
           <%= link_to " Edit | ", task_path(task.id) %>
        </li>
        <li>
           <%= link_to " Delete | ", task_path(task.id), method: :delete,  data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>

      <% end %>


    </main>

  </section>



</body>
