

<body>
  <main class='container'>

  <header>
    <h1>TASKLIST</h1>
    <%= link_to "Add Task", new_task_path %>

  </header>

<section>

  <h2><%= link_to "Your Tasks", tasks_path %></h2>
    <% @tasks.each_with_index do |task, i|%>
  <li class="title">
    <%= "#{i + 1}. #{task.name}" %>
  </li>
  <li>
    <%= "#{task.description}" %>
  </li>
  <li>
    <%= "#{task.completion_date}" %>
  </li>
    <% end %>
    </main>

</section>


<footer>
  copywrite 2018
  <h3><%= link_to "Home", "/" %></h3>
</footer>



</body>
