<section>
  <p><% if @task.nil? %></p>
  <p><%= "404 NOT FOUND" %></p>
    <% else %>
  <%= "Task #{@task.id} #{@task.name} " %>
  <ul>
    <li>
      <%= "#{@task.description}"%>
    </li>
    <li>
      <%= "#{@task.completion_date}"%>
    </li>
  </ul>
  <% end %>
<h3><%= link_to "Edit #{@task.name}", edit_task_path(@task.id) %></h3>
</section>

<!-- then in the browser you can do http://localhost:3000/tasks/id -->
